<% title "Pagelle di Stop&Pop"%>

<div id="nav"><%= link_to "Nuova pagella", new_list_path, :remote => true %></div>
<div id="pagelle">
	<%= render :partial => 'pagelle' %>
</div>
<div id="inserisci_pagella"></div>
