<% title "Pagella del #{@pagella.pubblicata}" %>
	<div id='pagella'>
	<% if @voti.empty? %>
		<%= link_to "Aggiungi un nuovo voto", new_vote_path(:list_id => @pagella.id), :remote => true %>
	<% else %>
	
		<div id="lista"><%= render :partial => 'voti'%></div>
		
	<% end %>
	</div>
		
	<div id="voto"></div>