<% title "Pagella del #{@pagella.pubblicata}" %>
	<div id='pagella'>
		<div id="class"><%= link_to "Aggiungi un nuovo voto", new_vote_path(:list_id => @pagella.id), :remote => true%></div>
		<div id="lista"><%= render :partial => 'voti'%></div>
		<div id="primis"></div>
	</div>
		
	<div id="voto"></div>